html,
body {
    height: 100%;
    margin: 0;
    background: linear-gradient(45deg, #708090, #4682B4);
    font-family: sans-serif;
    font-weight: 100;
}

h1 {
    color: #fff;
    text-align: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    margin: auto;
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

td {
    padding: 15px;
    color: #fff;
    position: relative;
}

th {
    text-align: left;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    background-color: #2F4F4F;
}

form {
    height: 60px;
    width: 1450px;
    text-align: center;
    color: #fff;
    background: linear-gradient(45deg, #708090, #4682B4);
}

input {
    height: 35px;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.07);
    color: #fff;
    padding: 0 15px;
    margin-top: 15px;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
}

:before {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}