{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Таблица посещаемости</title>
    <link rel="stylesheet" href="{% static "table_style.css" %}" />
  </head>
  <body>
    <h1>Таблица посещаемости</h1>
    <div class="table">
    <table>
      <thead>
        <tr>
          <th scope="col">Кабинет</th>
          <th scope="col">ФИО</th>
          <th scope="col">Время</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>122</td>
          <td>Токин Н.А</td>
          <td>9:40</td>
        </tr>
        <tr>
          <td>122</td>
          <td>Токин Н.А</td>
          <td>9:40</td>
        </tr>
        <tr>
          <td>122</td>
          <td>Токин Н.А</td>
          <td>9:40</td>
        </tr>
        <tr>
          <td>122</td>
          <td>Токин Н.А</td>
          <td>9:40</td>
        </tr>
        <tr>
          <td>122</td>
          <td>Токин Н.А</td>
          <td>9:40</td>
        </tr>
        <tr>
          <td>122</td>
          <td>Токин Н.А</td>
          <td>9:40</td>
        </tr>
        <tr>
          <td>122</td>
          <td>Токин Н.А</td>
          <td>9:40</td>
        </tr>
        <tr>
          <td>122</td>
          <td>Токин Н.А</td>
          <td>9:40</td>
        </tr>
        <tr>
          <td>122</td>
          <td>Токин Н.А</td>
          <td>9:40</td>
        </tr>
      </tbody>
    </table>
  </div>
  </body>
</html>