{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5">
    <title>Таблица</title>
    <link rel="stylesheet" href="{% static 'css/table_attendance.css' %}">
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
{#    <script src="{% static 'javascript/script.js' %}"></script>#}
</head>
<body>
<div id="attendance-table">
    <h1>Посещаемость</h1>
    <table>
        <tr>
            <th>Кабинет</th>
            <th>Группа</th>
            <th>ФИО</th>
            <th>Время</th>
        </tr>
        {% for info in attendance_table %}
            <tr>
                <td>{{ info.esp }}</td>
                <td>{{ info.group }}</td>
                <td>{{ info.username }}</td>
                <td>{{ info.time|date:"Y год d E G:i" }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">No data found.</td>
            </tr>
        {% endfor %}
    </table>
</div>
<br>
<form method="POST">
    {% csrf_token %}
    {{ form.as_div }}
    <input type="submit" value="Фильтрация">
</form>
</body>
</html>